aiohttp
https://github.com/pawamoy/aria2p/archive/refs/heads/master.zip
appdirs
anytree
beautifulsoup4
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
https://github.com/jusidama18/lk21/archive/refs/heads/main.zip
lxml
gunicorn
https://github.com/trp07/messages/archive/refs/heads/master.zip
psutil
psycopg2-binary
pybase64
urllib3
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
python-dotenv
tenacity
https://github.com/Ncode2014/cloudscraper/archive/refs/heads/master.zip
requests
qbittorrent-api
torrentool
https://github.com/Ncode2014/gdown/archive/refs/heads/master.zip
https://github.com/yt-dlp/yt-dlp/archive/refs/heads/master.zip
https://github.com/ytdl-org/youtube-dl/archive/refs/heads/master.zip
python-magic
https://github.com/python-telegram-bot/python-telegram-bot/archive/refs/heads/master.zip
pytz
https://github.com/sivel/speedtest-cli/archive/refs/heads/master.zip
telegraph
TgCrypto
