aiohttp
aria2p
appdirs
beautifulsoup4
feedparser
gitpython
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
heroku3
html-telegraph-poster
js2py
lk21
lxml
messages
psutil
psycopg2-binary
pybase64
https://github.com/pyrogram/pyrogram/archive/refs/heads/master.zip
python-dotenv
https://github.com/jd/tenacity/archive/refs/heads/master.zip
https://github.com/psf/requests/archive/refs/heads/master.zip
https://github.com/ytdl-org/youtube-dl/archive/refs/heads/master.zip
python-magic
python-telegram-bot
pytz
speedtest-cli
telegraph
TgCrypto
